<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>标签</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<header>
		<div class="headbg"></div>
		<div class="m-head">
			<div class="u-avatar">
				<img src="" />
			</div>
			<div class="u-title"><h3>好好学习，天天向上</h3></div>
		</div>
	</header>
	<nav>
		<ul class="navlist">
			<li class="item"><a href="index.html">首页</a></li>
			<li class="item"><a href="article.html">web前端</a></li>
			<li class="item"><a href="article.htm">生活杂文</a></li>
			<li class="item"><a href="timeline.html">时间轴</a></li>
			<li class="item"><a href="messageBoard.html">留言板</a></li>
		</ul>
	</nav>
	<div class="g-bd f-cb">
	    <div class="g-mn">
	        <div class="g-mnc">
	        	<div class="sort">
	        		<div class="sort-wrap">
	        			<h1>标签</h1>
	        			<div class="m-tags">
	        				<ul class="f-cb">
	        					<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
			        					<h5>
				        					<a href= "#" class="u-tag u-tag-2">html</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>	
		        				</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5>
				        					<a href="#" class="u-tag  u-tag-2">css</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">	
				        				<h5 >
				        					<a href="#" class="u-tag u-tag-2">javascript</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5><a href="#" class="u-tag  u-tag-2">杂文</a></h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				 </div>
			        			</li>
	        				</ul>
	        				
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="g-sd">
	        <div class="g-sdc">
	        	<div class="m-sidebar">
	        		<div class="card">
	        			<div class="u-avatar">
							<img src="" />
						</div>
						<div class="u-title"><h3>echo</h3></div>
						<div class="menulist">
							<ul class="f-cb">
								<li class="item"><strong class="article">34</strong><span>文章</span></li>
								<li class="item"><strong class="comment">23</strong><span>评论</span></li>
								<li class="item"><strong class="browse">34</strong><span>浏览量</span></li>
							</ul>
						</div>
	        		</div>
	        		<div class="motto">
	        			<p>每天多学一点点</p>
	        		</div>
	        	</div>
	        	<div class="tags-box">
	        		<div class="tags-wrap">
	        			<div class="title f-cb">	
		        			<h4>标签</h4>
		        			<a href="tag.html">更多>></a>
	        			</div>
	        			<div class="m-tags">
	        				<ul class="f-cb">
	        					<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
			        					<h5>
				        					<a href= "#" class="u-tag u-tag-2">html</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        				
		        				</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5>
				        					<a href="#" class="u-tag  u-tag-2">css</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">	
				        				<h5 >
				        					<a href="#" class="u-tag u-tag-2">javascript</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5><a href="#" class="u-tag  u-tag-2">杂文</a></h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				 </div>
			        			</li>
	        				</ul>
	        				
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
	<footer>
		<div class="m-cprt">
			<p>© echo. All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>