<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>标签</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<header>
		<% include header.ejs %>
	</header>
	<nav>
		<% include nav.ejs %>
	</nav>
	<div class="g-bd f-cb">
	    <div class="g-mn">
	        <div class="g-mnc">
	        	<div class="sort">
	        		<div class="sort-wrap">
	        			<h1>标签</h1>
	        			<div class="m-tags">
	        				<ul class="f-cb">
	        					<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
			        					<h5>
				        					<a href= "#" class="u-tag u-tag-2">html</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>	
		        				</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5>
				        					<a href="#" class="u-tag  u-tag-2">css</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">	
				        				<h5 >
				        					<a href="#" class="u-tag u-tag-2">javascript</a>
				        				</h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				</div>
			        			</li>
			        			<li class="tags-item">
			        				<img src="img/tag.png" />
			        				<div class="item-cnt">
				        				<h5><a href="#" class="u-tag  u-tag-2">杂文</a></h5>
				        				<span class="tag-num">
				        					<span>16</span>篇文章
				        				</span> 
			        				 </div>
			        			</li>
	        				</ul>
	        				
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="g-sd">
	        <div class="g-sdc">
				<% include side.ejs %>
	        </div>
	    </div>
	</div>
	<footer>
		<% include footer.ejs %>
	</footer>
</body>
</html>