		<ul class="navlist">
			<li class="item"><a href="/">首页</a></li>
			<li class="item"><a href="/article">web前端</a></li>
			<li class="item"><a href="/article">生活杂文</a></li>
			<li class="item"><a href="/timeline">时间轴</a></li>
			<li class="item"><a href="/messageBoard">留言板</a></li>
		</ul>